.ycp-hidden {
  display: none !important;
}

.ycp-comments-custom {
  position: relative !important;
  padding: 0 10px !important;
  margin: 0 0 20px 0 !important;
  max-height: var(--ycp-comments-height) !important;
  overflow-y: auto !important;
}

/* Sticky要素 */
.ycp-sticky {
  position: sticky !important;
  z-index: 1000 !important;
  top: var(--ycp-sticky-top) !important;
}

.ycp-sticky-parent {
  height: 100% !important;
}

.ycp-app-overflow {
  overflow: visible !important;
}

/* コメントヘッダ Sticky */
.ycp-comment-header-sticky {
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
  background: var(--yt-spec-base-background) !important;
  padding-bottom: 5px !important;
}

.ycp-comment-header-sticky ytd-comments-header-renderer {
  margin: 15px 0 !important;
}

.ycp-drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: ew-resize !important;
  width: 5px !important;
  background-color: transparent !important;
  z-index: 2000;
  display: none;
}

ytd-watch-flexy.ycp-secondary-resize-enabled .ycp-drag-handle {
  display: block;
}

.ycp-drag-handle.dragging {
  background-color: var(--yt-spec-call-to-action-hover) !important;
}

#primary.ycp-custom-sidebar-width {
  min-width: calc(var(--ycp-primary-width) - var(--ytd-watch-flexy-horizontal-page-margin) - var(--ytd-watch-flexy-horizontal-page-margin)) !important;
}

#secondary.ycp-custom-sidebar-width {
  min-width: calc(var(--ycp-secondary-width) - var(--ytd-watch-flexy-horizontal-page-margin)) !important;
}

ytd-watch-flexy.ycp-custom-sidebar-width {
  --ytd-watch-flexy-min-player-height: auto !important;
}

video.ycp-custom-sidebar-width {
  height: auto !important;
}