html {
  font-size: 0.8rem;
  min-width: 30rem;
}

@media (min-width: 768px) {
  .container-md {
    max-width: 720px !important;
  }
}

#panel {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

#panel.no-transition {
  transition: none !important;
}